@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #604652;
  --color-secondary: #735557;
  --color-neutral: #c1b6a0;
  --color-base-100: #b2a489;
  --color-text: #2b2b2b;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  --color-primary: #dfd0b8;
  --color-secondary: #948979;
  --color-neutral: #222831;
  --color-base-100: #393e46;
  --color-text: #f3f4f6;
}

* {
  font-family: "Poppins", sans-serif;
}

.btn {
  border-width: 0 !important;
  box-shadow: none !important;
}
